/* .app {
    display: flex;
} */

/* .main-content {
    flex: 1;
    padding: 20px;
    margin-left: 110px;
    box-sizing: border-box;
} */

/* .sidebar {
    width: 200px;
    height: 100%;
    background-color: #f9fafb;
    color: #333;
    position: fixed;
} */